@charset "UTF-8";
@namespace url(http://www.w3.org/1999/xhtml);
@namespace word url(about:lexisml?word);

html[data-lexis-is-loading], html[data-lexis-is-loading] #list li, html[data-lexis-is-loading] #title, html[data-lexis-is-loading] word|wordref {
    cursor: progress;
}

#header {
    text-align: center;
    margin: 1em;
    border-bottom: thin black solid;
}

#sidebar {
    float: left;
    width: 25%;
    overflow-x: hidden;
    overflow-y: auto;
}

#search {
    display: block;
    margin: auto;
    width: 100%;
    text-align: center;
}

#search input {
    display: inline;
    width: 40%;
}

#search select {
    display: inline;
    width: 40%;
}

#list {
    list-style-type: none;
}

#list li, #title {
    cursor: pointer;
}

#container {
    padding-left: 25%;
}

word|* {
    display: block;
}

word|lemma {
    font-size: 2rem;
}

word|pron {
    font-style: italic;
}

word|etymology, word|aside, word|section {
    margin: 1em 0;
}

word|section {
    padding: 0 0 0 1em;
}

word|section word|heading {
    margin: 0 0 0 -1em;
}

word|alts {
    font-style: italic;
}

word|def {
    display: list-item;
    list-style-position: inside;
}

word|etymology::before {
    font-weight: bold;
    content: "Etymology: ";
}

word|wordref {
    display: inline;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-style: dashed;
}
