@font-face {
    font-family: Junicode;
    src: url('../fonts/junicode/Junicode.woff') format('woff'),
         url('../fonts/junicode/Junicode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Junicode;
    src: url('../fonts/junicode/Junicode-Italic.woff') format('woff'),
         url('../fonts/junicode/Junicode-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Junicode;
    src: url('../fonts/junicode/Junicode-Bold.woff') format('woff'),
         url('../fonts/junicode/Junicode-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Junicode;
    src: url('../fonts/junicode/Junicode-BoldItalic.woff') format('woff'),
         url('../fonts/junicode/Junicode-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@-webkit-keyframes splash {
    from {
        font-size: 1.25pc;
    }
    50% {
        font-size: 1.5pc;
    }
    to {
        font-size: 1.25pc;
    }
}
@keyframes splash {
    from {
        font-size: 1.25pc;
    }
    50% {
        font-size: 1.5pc;
    }
    to {
        font-size: 1.25pc;
    }
}

/* GLOBAL RULES */

*[title]:not([title=""]):not(a) {
    cursor: help;
    border-bottom: dotted currentColor black;
}
@supports (text-decoration-style: dotted) or (-moz-text-decoration-style: dotted) or (-webkit-text-decoration-style: dotted) {
    abbr {
        border: none;
    }
    *[title]:not([title=""]):not(a) {
        border: none;
        -webkit-text-decoration-line: underline;
        -webkit-text-decoration-style: dotted;
        -moz-text-decoration-line: underline;
        -moz-text-decoration-style: dotted;
        text-decoration-line: underline;
        text-decoration-style: dotted;
    }
}
*:lang(en) {
    quotes: "“" "”" "‘" "’";
}
*:lang(*-fonipa)::before, *:lang(*-fonipa)::after {
    content: "/";
}

/*  PRE-CSS4 SELECTION RULES  */

*::selection {
    background: #e5e8ed;
}
*::-moz-selection {
    background: #e5e8ed;
}
mark::selection, mark *::selection {
    background: #a6acb1;
}
mark::-moz-selection, mark *::-moz-selection {
    background: #a6acb1;
}

/*  ROOT STYLES  */

*:root {
    color: #51555c;
    font-family: Junicode, serif;
    font-weight: normal;
    font-size: 1.25pc;
    font-variant-numeric: oldstyle-nums;
    font-synthesis: none;
    line-height: 1.5pc;
    text-align: justify;
    quotes: "“" "”" "‘" "’";
}
*:root::selection {
    background: #e5e8ed;
}

/*  PAGE LAYOUT  */

html {
    margin: 0;
    padding: 1.5pc 1.25pc;
}
body {
    margin: auto;
    padding: 0 7.5pc;
    max-width: 36pc;
}
#main-header {
    position: relative;
    margin: 0 0 3pc;
    text-align: center;
    color: inherit;
}
#main-header > div {
    position: relative;
}
#main-header p {
    margin: 1.5pc 0;
}
#splash {
    position: absolute;
    bottom: 0;
    left: 80%;
    left: calc(100% - 7.5pc);
    width: 15pc;
    line-height: 1.5pc;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -webkit-animation: splash 2s infinite;
    animation: splash 2s infinite;
}
#main-header > section {
    margin: 1.5pc 0 3pc;
    border-top: thin currentColor solid;
    padding: 1.5pc 0 0;

}

/*  SECTIONING  */

main, article, section, nav, header, footer {
    margin: 1.5pc 0;
    padding: 0;
}
header {
    color: #7b7f85;
}
aside {
    margin: 1.5pc 1.25pc;
    padding: 1.5pc 1.25pc;
    background: #d6dae0;
}

/*  BLOCK-LEVEL ELEMENTS  */

h1 {
    margin: 0;
    padding: 0;
    color: #1c2027;
    font-size: 5pc;
    font-weight: bold;
    line-height: 6pc;
    text-align: center;
}
h2 {
    margin: 0;
    padding: 0;
    color: #1c2027;
    font-size: 2.5pc;
    font-weight: normal;
    line-height: 3pc;
}
h3 {
    float: left;
    clear: both;
    color: #1c2027;
    margin: 0;
    padding: 1.5pc 0 0;
    font-size: 1.25pc;
    font-weight: bold;
    line-height: 1.5pc;
}
h3::after {
    content: " : ";
}
p {
    margin: 0;
    padding: 0 0 0 2.5pc;
    text-indent: -2.5pc;
}
aside p {
    padding: 0;
    text-indent: 2.5pc;
}
aside p:first-child {
    text-indent: 0;
}
h3 + p {
    padding: 1.5pc 0 0 2.5pc;
    text-indent: 0;
}
blockquote p::before {
    content: open-quote;
}
blockquote p:not(:last-of-type)::after {
    content: no-close-quote;
}
blockquote p:last-of-type::after {
    content: close-quote;
}

/*  LISTS  */

ul, ol, dl {
    margin: 0;
}

/*  PHRASING ELEMENTS  */

a[href] {
    color: inherit;
    text-decoration: none;
    outline: thin #e8e8e8 dashed;
    outline-offset: 0;
    transition: color .5s, background .5s, outline-color .5s, outline-offset .5s;
}
a[href]:hover {
    color: #ffffff;
    background: #1c2027;
    outline-color: transparent;
    outline-offset: .75pc;
}
nav a[href] {
    outline: none;
}
b {
    color: #1c2027;
    font-weight: bold;
}
b::before {
    content: "#";
}
cite {
    font-style: inherit;
}
code {
    color: #000000;
    font-family: monospace;
}
code::before, code::after {
    content: "'";
}
del {
    color: #436235;
    text-decoration: line-through;
}
dfn {
    color: #1c2027;
    font-style: inherit;
    font-weight: inherit;
}
em {
    color: #1c2027;
    font-style: normal;
}
em::before, em::after {
    content: "~";
}
i {
    font-style: italic;
}
ins {
    color: #345990;
    text-decoration: underline;
}
mark {
    background: #e8e8e8;
}
mark::selection {
    background: #a6acb1;
}
small {
    color: #a6acb1;
    font-size: 1.25pc;
    line-height: inherit;
}
s {
    color: #7b7f85;
    text-decoration: line-through;
}
strong {
    color: #8a3756;
    font-weight: inherit;
}
sub, sup {
    line-height: 0;
}
sup {
    text-transform: uppercase;
}
u {
    text-decoration: none;
    text-transform: uppercase;
}
